## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(0, 101), 80) 
print(sample_list_1)

[79, 12, 20, 89, 17, 82, 38, 36, 53, 3, 37, 62, 46, 0, 63, 70, 83, 87, 6, 40, 9, 27, 8, 22, 81, 48, 100, 47, 99, 86, 57, 41, 95, 39, 76, 97, 88, 13, 51, 10, 25, 15, 24, 42, 77, 54, 60, 5, 92, 56, 93, 26, 44, 96, 32, 58, 90, 68, 69, 71, 78, 65, 91, 14, 72, 35, 4, 45, 21, 49, 67, 75, 61, 30, 33, 55, 94, 73, 80, 31]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)
type(set1)

{0, 3, 4, 5, 6, 8, 9, 10, 12, 13, 14, 15, 17, 20, 21, 22, 24, 25, 26, 27, 30, 31, 32, 33, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 65, 67, 68, 69, 70, 71, 72, 73, 75, 76, 77, 78, 79, 80, 81, 82, 83, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 100}

set

In [4]:
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [5]:
sample_list_2 = []
for i in range(80):
    r=random.randint(1,100)
    sample_list_2.append(r)
print(sample_list_2)

[34, 90, 78, 37, 23, 60, 37, 64, 80, 99, 55, 59, 30, 10, 23, 24, 67, 67, 4, 53, 7, 74, 18, 99, 42, 36, 70, 84, 61, 83, 11, 77, 14, 4, 21, 48, 15, 80, 24, 31, 88, 69, 55, 65, 47, 100, 25, 39, 44, 12, 73, 10, 66, 15, 97, 13, 85, 92, 2, 81, 41, 24, 69, 21, 2, 45, 55, 92, 92, 2, 54, 17, 10, 62, 27, 48, 17, 96, 88, 10]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [6]:
set2 = set(sample_list_2)
print(set2)
type(set2)

{2, 4, 7, 10, 11, 12, 13, 14, 15, 17, 18, 21, 23, 24, 25, 27, 30, 31, 34, 36, 37, 39, 41, 42, 44, 45, 47, 48, 53, 54, 55, 59, 60, 61, 62, 64, 65, 66, 67, 69, 70, 73, 74, 77, 78, 80, 81, 83, 84, 85, 88, 90, 92, 96, 97, 99, 100}

set

In [7]:
print(len(set2))
#The lenght of the set is not still 80 because sets do not allow duplicate values

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [8]:
set1 = {0, 2, 3, 4, 5, 6, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 
        41, 42, 43, 45, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 
        75, 77, 78, 80, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}
set2 = {1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 21, 23, 24, 25, 26, 27, 29, 32, 35, 36, 40, 41, 43, 45, 46, 47, 
        53, 54, 56, 58, 59, 60, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 91, 96, 99}
set3 = set1.difference(set2)
print(set3)

{0, 5, 13, 18, 19, 20, 22, 31, 33, 34, 37, 38, 39, 42, 49, 50, 52, 55, 57, 62, 68, 75, 78, 87, 89, 90, 92, 93, 94, 97, 98, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [9]:
set4 = set2.difference(set1)
print(set4)

{1, 7, 40, 12, 76, 46, 15, 79, 82, 21, 23, 26}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [10]:
set5 = set1.intersection(set2)
print(set5)

{2, 3, 4, 6, 8, 9, 10, 11, 14, 16, 17, 24, 25, 27, 29, 32, 35, 36, 41, 43, 45, 47, 53, 54, 56, 58, 59, 60, 63, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 77, 80, 83, 85, 86, 88, 91, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [13]:
len(set1) == len(set3) + len(set5)

True

In [15]:
len(set2) == len(set4) + len(set5)

True

#### Create an empty set called `set6`.

In [16]:
set6 = set({})
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [17]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 2, 3, 4, 5, 6, 8, 9, 10, 11, 13, 14, 16, 17, 18, 19, 20, 22, 24, 25, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 45, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78, 80, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [18]:
if set1 == set6:
    print('set1 and set6 are equal')
else:
    print('set1 and set6 are not equal')

set1 and set6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [19]:
Contains1 = set2.issubset(set1)
print(Contains1)

False

In [20]:
Contains2 = set3.issubset(set1)
print(Contains2)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [21]:
set7 = set3.union(set4, set5)
print(set7)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

In [22]:
set8 = set1.union(set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 49, 50, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99, 100}

In [23]:
if set7 == set8:
    print('set7 and set8 are equal')
else:
    print('set7 and set8 are not equal')

set7 and set8 are equal

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
set1.pop() #the set.pop() method removes any random element from the set

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [25]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for number in list_to_remove:
    set1.discard(number)
print(set1)

{2, 3, 4, 5, 6, 8, 10, 13, 14, 16, 17, 18, 20, 22, 24, 25, 27, 32, 33, 34, 35, 36, 37, 38, 42, 43, 45, 47, 50, 52, 53, 54, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 73, 74, 75, 77, 78, 80, 83, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98, 100}